<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="container">
      <h1>Secure Todo App</h1>

      <p>Organize your tasks easily.</p>

      <div class="buttons">
        <a href="/login">Login</a>

        <a href="/signup">Signup</a>
      </div>
    </div>
  </body>
</html>
